.cards-main{
    max-width: 600px;
    margin: auto;
}

.ProductHeader_ProductHeader__media__QZkzf,
.ProductHeader_ProductHeader__texts__e3MaF {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.ProductHeader_ProductHeader__companies__fRm5l,
.ProductHeader_ProductHeader__media__QZkzf,
.ProductHeader_ProductHeader__texts__e3MaF > * {
  transform: translateY(16px);
  opacity: 0;
  animation-name: ProductHeader_appear___Ua3I;
  animation-duration: 800ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: calc(
    300ms * var(--appearOrder) +
    50ms
  );
}
@keyframes ProductHeader_appear___Ua3I {
  to {
    transform: none;
    opacity: 1;
  }
}

.ProductHeader_ProductHeader__media__QZkzf {
  flex-grow: 0.8;
  order: 2;
}

@media (max-width: 640px) {
  .ProductHeader_ProductHeader__media__QZkzf,
  .ProductHeader_ProductHeader__texts__e3MaF {
    flex-grow: 1;
  }

  .ProductHeader_ProductHeader___JiVt {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.ProductHeader_ProductHeader__media__QZkzf {
  width: 100%;
  border-radius: 16px;
  --appearOrder: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeroAnimation_HeroAnimation__llWWz {
  position: relative;
  padding-bottom: 58%;
  width: 100%;
  perspective: 500px;
}
.HeroAnimation_HeroAnimation__llWWz
  img.HeroAnimation_HeroAnimation__badge__Iqx8u {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24%;
  transform: translate(-50%, calc(-65%));
  filter: drop-shadow(0 8px 12px rgba(15, 15, 35, 0.12));
}

.HeroAnimation_HeroAnimation__badge__Iqx8u.other-card{
  top: 75% !important;
    left: 80% !important;
    height: 80px;
    object-fit: contain;
    
}
.HeroAnimation_HeroAnimation__card__IpFlG {
  position: absolute;
  height: 100%;
  width: 58%;
  box-shadow: 2px 0 0 var(--border);
  background-size: cover;
  border-radius: 30px;
  transform-style: preserve-3d;
  transform-origin: right;
  animation-name: HeroAnimation_gallery__Wz4F0, HeroAnimation_appear__sIvUl;
  animation-duration: 2s;
  animation-iteration-count: 1;
  
}

@media screen and (max-width : 600px) {
  .HeroAnimation_HeroAnimation__card__IpFlG {
    width : 203px !important;
    height: 203px !important;
  }
}

@keyframes HeroAnimation_gallery__Wz4F0 {
  0%,
  30% {
    transform: none;
    filter: none;
    box-shadow: 0 0 0 var(--border);
  }
}

.HeroAnimation_HeroAnimation__card__IpFlG:before {
  content: "";
  inset: 0;
  border-radius: inherit;
  position: absolute;
  z-index: -1;
  background-image: var(--gradient);
  transform: rotate(180deg);
}
.HeroAnimation_HeroAnimation__card__IpFlG:first-child {
  z-index: 4;
  filter: none;
}
.HeroAnimation_HeroAnimation__card__IpFlG:nth-child(2) {
  transform: translateX(25%) rotateY(-40deg);
  z-index: 3;
  filter: brightness(0.8);
}
.HeroAnimation_HeroAnimation__card__IpFlG:nth-child(3) {
  transform: translateX(45%) rotateY(-50deg);
  z-index: 2;
  filter: brightness(0.7);
}
.HeroAnimation_HeroAnimation__card__IpFlG:nth-child(4) {
  transform: translateX(65%) rotateY(-60deg);
  z-index: 1;
  filter: brightness(0.6);
}
.HeroAnimation_HeroAnimation__card__IpFlG {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.HeroAnimation_HeroAnimation__card--current__IRhY9 {
  z-index: 1;
  box-shadow: none;
}
.HeroAnimation_HeroAnimation__card__IpFlG:not(
    .HeroAnimation_HeroAnimation__card--current__IRhY9
  )
  .HeroAnimation_HeroAnimation__title__KFqGQ {
  opacity: 0;
}

.HeroAnimation_HeroAnimation__title__KFqGQ {
    font-weight: 700;
    color: #fff;
    font-size: 26px;
    margin-bottom: 12%;
    padding-inline: 16px;
    line-height: 1;
  }
  @media (max-width: 640px) {
    .HeroAnimation_HeroAnimation__title__KFqGQ {
      font-size: 15px ;
      margin-bottom: min(40px, 5vw);
    }
    .HeroAnimation_HeroAnimation__badge__Iqx8u{
      scale : 0.95;
    }
  }
  .HeroAnimation_HeroAnimation__card__IpFlG:not(
    .HeroAnimation_HeroAnimation__card--current__IRhY9
  )
  .HeroAnimation_HeroAnimation__title__KFqGQ {
  opacity: 0;
}
