
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@200;300;400;500;600;800&display=swap");

@font-face {
  font-family: "CeraPro";
  src: url('/assets/font/CeraProBlack.otf');
  font-weight: 900; /* Black weight */
  font-style: normal;
}


@font-face {
  font-family: "CeraPro";
  src: url('/assets/font/CeraProBold.otf');
  font-weight: bold; /* Bold weight */
  font-style: normal;
}



/* @font-face {
  font-family: "CeraPro";
  src: url('/assets/font/CeraProMedium.otf');
  font-weight: 500; 
  font-style: normal;
} */
@font-face {
  font-family: "CeraPro";
  src: url('/assets/font/CeraPro-Regular-test.ttf');
  font-weight: 500; /* Medium weight */
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: url('/assets/font/FuturaBold.otf');
  font-weight: 700; 
  font-style: normal;
}
@font-face {
  font-family: "KingsCaslon";
  src: url('/assets/font/KingsCaslon_Trial_Bd.ttf');
  font-weight: 700; 
  font-style: normal;
}
@font-face {
  font-family: "Univers";
  src: url('/assets/font/UniversBold.ttf');
  font-weight: 700; 
  font-style: normal;
}
@font-face {
  font-family: "CeraPro";
  src: url('/assets/font/CeraProLight.otf');
  font-weight: 300; /* Light weight */
  font-style: normal;
}


html {
  @apply antialiased;
}

html,
body {
  @apply h-full;
  background-color: var(--color-secondary-dark);
  overflow-x: hidden;
position: relative;
scroll-behavior: smooth;

}

html {
  font-size: 62.5%;
  scroll-behavior : smooth;
}
* {
  font-family: "CeraPro", sans-serif;
}

strong {
  font-weight: bold !important;
}
/* COLORS */
:root {
  --color-primary: #ffb900;
  --color-primary-light: #e9ce5d;
  --color-primary-dark: #c4981f8e;

  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ffffff;
--color-transparent-dark :#0f0f23b3;
  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;

  --color-white: #fff;
  --color-black: #000;
  --color-green: rgb(0, 151, 136);
  --pink: #da3466;
  --cherry: var(--pink);
  --purple: #7557fa;

  --base-animation-duration: 500ms;
  --base-animation-delay: 50ms;
  --step-animation-delay: 200ms;
  --animation-delay: 100ms;
  --padding-inline: 24px;
}

/* FONT */
:root {
  --default-font-size: 1.6rem;
}

/* GRID */
:root {
  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-horizontal: 6rem;
}


.custom-container {
  max-width: 1296px;
  width: 95vw;
  margin-inline: auto;
}
.btn-primary {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  background: #2ae8d3;
  border: 1px groove white;

  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
color : #05403a;
  padding: 12px 15px;
  border-radius: 8px;
}

.btn-primary:hover {
color : #453f0a;

  background-color: #f8e43f;
}





/* Navbar  */
nav {
  min-height: 130px;
  position: relative;
}
.navigation__checkbox {
  display: none;
}
 .navigation__button  {
  
  background-color: #58626c;
  backdrop-filter: saturate(180%) blur(20px);
  border: solid 1px rgba(66,66,69,0.7);

}

.navigation__button:hover {
  transform: scale(1.05); /* Inflate on hover */
}


.navigation__checkbox:checked + .navigation__button {
  position: fixed;
}
.navigation__button {
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 4.7rem;
    right: 0rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(var(--color-black), 0.1);
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: block;
}
.navigation__background {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 5rem;
    right: 2rem;

  background: white;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: -1;
  transition:300ms;
}
.navigation__background.navOpen {
  z-index: 100;

}
/* @media screen and (min-width : 1400px ) {
  .navigation__button {
    top:  4.7rem;
    right: 42rem;

  }
  .navigation__background { 
  
    top: 7rem;
    right: 43rem;
  }
}
@media screen and (min-width : 1500px ) {
  .navigation__button {
    top:  4.7rem;
    right: 43rem;

  }
  .navigation__background { 
  
    top: 7rem;
    right: 44rem;
  }
}
@media screen and (min-width : 2400px ) {
  .navigation__button {
    top:  4.7rem;
    right: 77rem;

  }
  .navigation__background { 
  
    top: 7rem;
    right: 78rem;
  }
} */
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  pointer-events: none;
  user-select: none;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link {
  display: inline;
  font-size: 4.5rem;
  position: relative;
  width: max-content;

}

.navigation__link::after{
  background: black;
    
    content: "";
   
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform .5s cubic-bezier(1,0,0,1);
    width: 100%;
    will-change: transform;
    bottom: 1px;
    height: 2px;
}

.navigation__link:hover::after {
  transform: scaleX(1);
    transform-origin: left center;
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(1000);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  pointer-events: all;
  user-select: all;
}
.navigation__nav  .hamburger-container{
  display : none;
}
.navigation__checkbox:checked ~ .navigation__nav  .hamburger-container {
  display: block;
}


.navigation__icon {
  position: relative;
  margin-top: 2rem;
  
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 2rem;
  height: 2px;
  background-color:white;
  display: inline-block;
  color :white;
  fill :white;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.6rem;
}

.navigation__icon::after {
  top: 0.6rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -0.7rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 0.7rem;
}

.navigation__button  .navigation__icon {
  background-color: transparent;
}

.navigation__button.navOpen .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__button.navOpen  .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
/* .navigation__checkbox:checked .navigation__icon::after {
  display: none;
} */
.transparent-lang ,.transparent-menu , .transparent-logo {
  display: none;
}
.lang-btn{
  
    border-radius: 3px;
    padding-top: 4px;
    font-size: 46px;
    cursor: pointer;
    transition: scale .1806s cubic-bezier(.04,.04,.12,.96);


}
.light .lang-btn{
  color: black;

}
.dark .lang-btn{
  color: white;

}


.languages-box {

  gap: 10px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  background: white;
  z-index: var(--z-index-popup);
  border-radius: 5px;
  border: 1px solid #cacaca;
  margin-inline-start: 10px;
}
.language {

  font-size: 20px;

gap:10px;
  display: flex;
    align-items: center;
    justify-content: start;
    min-width: 200px;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 200ms ease;
    cursor: pointer;
}
.language:hover{
  background:#fafafa ;
}
.language.selected {
  font-weight: 700;
  background:#fafafa ;

}
.language svg {
  opacity: 0;
}
.language.selected svg {
  opacity: 1;
}
.language.selected svg {
  fill: #2ae8d3;
}
#react-tiny-popover-container{
 top : 45px !important;
 z-index: 10000;
}
button[data-rcs="handle-container"] {
  display: none;
}
/* @media (max-width : 768px) {
  .navigation__button  {
 
      right: 7rem;
   
  }
  .navigation__background{
    right : 8rem;
  }
  
  

} */

@media (max-width : 968px) {
  button[data-rcs="handle-container"] {
    display: block;
  }
  .__rcs-handle-line{
    width : 0px !important;
    box-shadow: none !important;
  }
}


footer {
  width: 100%;
  position: relative;
  overflow: hidden;
 
  background-image: url('/assets/images/footer.svg') !important;
  background-repeat : none ;
  min-height: 100vh;
  background-size: cover;

  
}
@media screen and (max-width : 600px) {
  footer {
    min-height: 500px !important;
  }
}
.card-hover-effect {
  /* background: linear-gradient(316deg, var(--card-dark-color), var(--card-color) 55%); */
  background: var(--card-color);
  transition: none;
}
.card-hover-effect:hover {
  background: linear-gradient(316deg, var(--card-color), var(--card-dark-color) 55%);
}





.lined-text-box {
  position: relative;
 
}

.lined-text-box img {
margin: auto;
  object-fit: contain;
}

.lined-text-box .top-text {
  display: block;
  font-weight: 600;
  color : white ;
  font-size: 22px;
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);

}
.lined-text-box .bottom-text {
  display: block;
  font-weight: 500;
  color : #58626c ;
  font-size: 17px;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);

}.transparent-lang {
  height: 60px;
  width: 62px;
  position: absolute;
  top: 39px;
  right: 3rem;
  z-index: 10;
}

@media  (max-width : 768px){
  .languages-box {

    
    grid-template-columns: repeat(2, 1fr);
   
  }
  
  .top-text  , .bottom-text {
    transform: translateX(-50%) !important;
  }
  .transparent-lang ,.transparent-menu , .transparent-logo {
    display: block;
  }
  .hovered-class :nth-child(1)::before, .hovered-class :nth-child(2)::before {
    left :-0.5px !important;
  }
}
@media  (min-width : 768px){
  .lined-text-box {

    width: 400px;
   
  }
  
}
@media screen and (max-width : 600px) {
 .top-text {
  font-size: 16px !important;
    top: -13px !important;
 }
 .bottom-text {
  font-size: 12px !important;
 }
}
@media screen and (max-width : 400px) {
  .lined-text-box{
    width: 95vw;
  }
}


@media (max-height : 650px) and (min-width : 600px){
  .main-section {
    height: 130vh !important;
  }
}
@media (min-height : 350px) and (max-width : 768px){
  .main-section {
    height: 155vh !important;
  }
  html[lang='nl']   .main-section {
    height:180vh !important ;
  } html[lang='de']   .main-section {
    height:180vh !important ;
  }
}
@media (min-height : 600px) and (max-width : 768px){
  .main-section {
    height: 130vh !important;
  }
  html[lang='nl']   .main-section {
    height:145vh !important ;
  } html[lang='de']   .main-section {
    height:145vh !important ;
  }
}



@media (min-height : 750px){
  .main-section {
    height: 110vh !important;
  }
  html[lang='nl']   .main-section {
    height:120vh !important ;
  } html[lang='de']   .main-section {
    height:120vh !important ;
  }
}
.modal-text h2{
@apply text-3xl md:text-5xl  font-bold  mb-5 mt-10;
color: #090611;
}

.modal-text {
  @apply text-text-grey text-2xl md:text-3xl  2xl:text-4xl my-8 custom-container;
}
.modal-text ul {
  margin-left:50px ;
  margin-top: 40px;
}
.modal-text ul li {
  list-style: disc;
  margin-bottom: 20px;


  
}
.CookieModal .ReactModal__Content.ReactModal__Content--after-open {
  align-items: unset !important;

  padding-bottom: 40px;
}
.CookieModal.ReactModal__Content {
  max-height: 90vh;
  overflow: scroll;
}

/* Target the scrollbar within the modal and set its width to 0 */
.ReactModal__Content.ReactModal__Content--after-open::-webkit-scrollbar {
  width: 0px; /* for horizontal scroll */
  height: 0px; /* for vertical scroll */
 
}



.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.custom-video{
  width : 100%;
  height: 100%;
}



.extra-nav {
  height: 4rem;
  width: 4rem;
  z-index: 20;
  cursor: pointer;
}
.dark .menu__icon {
  background-color: black;

}
.light .menu__icon {
  background-color: white;

}
.dark .menu__icon span:before {
 
  background-color: white;



}
.light .menu__icon span:before {
 
    background-color: black;
  
  

}

.menu__icon {
 
  padding: .25rem;
  backdrop-filter: saturate(180%) blur(20px);
  border: solid 1px rgba(66,66,69,0.7);
  position: relative;
  border-radius: 50%;

  transition: scale .1806s cubic-bezier(.04,.04,.12,.96);

  
  height: 4rem;
  width: 4rem;
 
}

.menu__icon span {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: calc(.25rem - -8px);
  left: calc(.25rem - -3px);
  transition: transform .1806s cubic-bezier(.04,.04,.12,.96);
}

.menu__icon span:before {
  content: '';
  width: 2.5rem;
  height: 3px;
  position: absolute;
  left: 1px;
  transition: transform .1596s cubic-bezier(.52,.16,.52,.84) .1008s;
}

.menu__icon span:nth-child(1)::before {
  top: .625rem;
  transform: translateY(-3px);
}

.menu__icon span:nth-child(2)::before {
  bottom: .625rem;
  transform: translateY(8px);
}
.hovered-class  {
  scale: 1.1;
}
 .hovered-class :nth-child(1),
 .hovered-class :nth-child(2) {
  transition: transform .3192s cubic-bezier(.04,.04,.12,.96) .1008s;
}

 .hovered-class :nth-child(1)::before,
 .hovered-class :nth-child(2)::before {
  transform: none !important;
  transition: transform .1806s cubic-bezier(.04,.04,.12,.96);
  top: 8px;
  left: 0.79px;
}

 .hovered-class :nth-child(1) {
  transform: rotate(39deg) translateY(-4px) translateX(-1px) !important;
}

 .hovered-class :nth-child(2) {
  transform: rotate(-45deg) translateY(2px)  !important;
}

.transparent-lang , .transparent-menu , .transparent-logo {
  position: fixed;
  top : 4.9rem;
  
  height: 3rem;
  width: 3rem;
  z-index: 1000;
  cursor: pointer;



} 
.transparent-menu {
  right: 3.3rem;
 

}
.transparent-lang  {
  right: 9.3rem;
 

}
.transparent-logo{

  height: 100px;
  width: 150px;
  top: 2rem;
  left : 1px;
}

.lang-btn.hovered{
  
  scale: 1.15;
}
@media screen and (max-width : 500px) {
 
  .languages-box {

    
    grid-template-columns: repeat(1, 1fr);
   
  }
  .lang-btn{
    font-size: 31px;
  }
.navigation__button{
    height: 2.8rem;
    width: 2.8rem;
    top : 5.4rem;

  }
  .navigation__icon{
   scale: 0.8;
    margin-top: 1.2rem;
  }
  .navigation__background{
    top : 6rem;

  }

  .menu__icon{
height: 2.7rem;
width : 2.7rem;
  }
  .menu__icon span:before {
    width: 1.6rem;
    left: -1px;

  }
  .menu__icon span:nth-child(1)::before {
    transform: translateY(-6px);
  }
  .menu__icon span:nth-child(2)::before {
    transform: translateY(0px);
  }
  .hovered-class :nth-child(2) {
    transform :rotate(-45deg) translateY(-5px)  translateX(3px) !important;
  }
  .hovered-class :nth-child(1) {
    transform :rotate(39deg) translateY(-3px) translateX(-3.5px) !important;
  }

  .navOpen .transparent-menu {
    right: 1.3rem !important;
  }
  .menu__icon span:before {
    height: 0.215rem;
  }
}

/* .btn-primary.secondary {
  background-color: #f6b9ae ;
  color : #45312e;
} */

.btn-primary.secondary {
  background-color:#f8e43f  ;
  color : #453f0a;
}
.btn-primary.secondary:hover {
  background-color: #f6b9ae ;
  color : #45312e;
  border: 3px solid #8250fb;
}

footer input:-webkit-autofill,
footer input:-webkit-autofill:hover, 
footer input:-webkit-autofill:focus, 
footer input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #f8e43f inset !important;
}

.text-data-sizes {
  font-size: 20px;
}

.text-data-sizes h1{
  font-size: 42px;
}
.text-data-sizes h2{
  font-size: 32px;
}

.CookieModal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: white;
  overflow: auto;
  webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  max-width: 690px;
}

.CookieOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}


.switch {
  /* switch */
  --switch-width: 46px;
  --switch-height: 24px;
  --switch-bg: rgb(131, 131, 131);
  --switch-checked-bg: #2ae8d3;
  --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
  --switch-transition: all 0.2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  /* circle */
  --circle-diameter: 18px;
  --circle-bg: #fff;
  --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
  --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
  --circle-transition: var(--switch-transition);
  /* icon */
  --icon-transition: all 0.2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  --icon-cross-color: var(--switch-bg);
  --icon-cross-size: 6px;
  --icon-checkmark-color: var(--switch-checked-bg);
  --icon-checkmark-size: 10px;
  /* effect line */
  --effect-width: calc(var(--circle-diameter) / 2);
  --effect-height: calc(var(--effect-width) / 2 - 1px);
  --effect-bg: var(--circle-bg);
  --effect-border-radius: 1px;
  --effect-transition: all 0.2s ease-in-out;
}

.switch input {
  display: none;
}

.switch {
  display: inline-block;
}

.switch svg {
  -webkit-transition: var(--icon-transition);
  -o-transition: var(--icon-transition);
  transition: var(--icon-transition);
  position: absolute;
  height: auto;
}

.switch .checkmark {
  width: var(--icon-checkmark-size);
  color: var(--icon-checkmark-color);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch .cross {
  width: var(--icon-cross-size);
  color: var(--icon-cross-color);
}

.slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: var(--switch-transition);
  -o-transition: var(--switch-transition);
  transition: var(--switch-transition);
  cursor: pointer;
}

.circle {
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  background: var(--circle-bg);
  border-radius: inherit;
  -webkit-box-shadow: var(--circle-shadow);
  box-shadow: var(--circle-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  z-index: 1;
  position: absolute;
  left: var(--switch-offset);
}

.slider::before {
  content: "";
  position: absolute;
  width: var(--effect-width);
  height: var(--effect-height);
  left: calc(var(--switch-offset) + (var(--effect-width) / 2));
  background: var(--effect-bg);
  border-radius: var(--effect-border-radius);
  -webkit-transition: var(--effect-transition);
  -o-transition: var(--effect-transition);
  transition: var(--effect-transition);
}

/* actions */

.switch input:checked + .slider {
  background: var(--switch-checked-bg);
}

.switch input:checked + .slider .checkmark {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.switch input:checked + .slider .cross {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch input:checked + .slider::before {
  left: calc(
    100% - var(--effect-width) - (var(--effect-width) / 2) -
      var(--switch-offset)
  );
}

.switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter) - var(--switch-offset));
  -webkit-box-shadow: var(--circle-checked-shadow);
  box-shadow: var(--circle-checked-shadow);
}
