

@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@200;300;400;500;600;800&display=swap");

@font-face {
  font-family: "CeraPro";
  src: url('/assets/font/CeraProBlack.otf');
  font-weight: 900; /* Black weight */
  font-style: normal;
}


@font-face {
  font-family: "CeraPro";
  src: url('/assets/font/CeraProBold.otf');
  font-weight: bold; /* Bold weight */
  font-style: normal;
}



/* @font-face {
  font-family: "CeraPro";
  src: url('/assets/font/CeraProMedium.otf');
  font-weight: 500; 
  font-style: normal;
} */
@font-face {
  font-family: "CeraPro";
  src: url('/assets/font/CeraPro-Regular-test.ttf');
  font-weight: 500; /* Medium weight */
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: url('/assets/font/FuturaBold.otf');
  font-weight: 700; 
  font-style: normal;
}
@font-face {
  font-family: "KingsCaslon";
  src: url('/assets/font/KingsCaslon_Trial_Bd.ttf');
  font-weight: 700; 
  font-style: normal;
}
@font-face {
  font-family: "Univers";
  src: url('/assets/font/UniversBold.ttf');
  font-weight: 700; 
  font-style: normal;
}
@font-face {
  font-family: "CeraPro";
  src: url('/assets/font/CeraProLight.otf');
  font-weight: 300; /* Light weight */
  font-style: normal;
}


@font-face {
  font-family: "CeraPro2";
  src: url('/assets/font/Cera Pro Regular.otf');
  
}

* {
  font-family: "CeraPro", sans-serif;
}

html  {
 min-height: 100vh;
 min-width: 100vw;
 overflow-x: hidden
}
.error-text {
  @apply text-red-500 text-xs ml-0.5 font-medium;
}
.video-background {
  position: fixed; 
  right: 0; 
  bottom: 0;
  min-width: 100vw; 
  min-height: 100vh;
  width: auto; 
  height: auto;
  /* z-index: -100; */
  background-size: cover;
}
.video-background video {
  min-width: 100vw; 
  min-height: 100vh;
  object-fit: cover;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em; 
}

.read-the-docs {
  color: #888;
}


.lang-btn{
  
  border-radius: 3px;
  padding-top: 4px;
  font-size: 40px;
  cursor: pointer;
  transition: all .1806s cubic-bezier(.04,.04,.12,.96);


}
.light .lang-btn{
color: black;

}
.dark .lang-btn{
color: white;

}


.languages-box {

gap: 10px;
background-color: #f1f1f1;
padding: 10px;
border-radius: 10px;
display: grid;
grid-template-columns: repeat(3, 1fr);
padding: 10px;
background: white;
z-index: var(--z-index-popup);
border-radius: 5px;
border: 1px solid #cacaca;
margin-inline-start: 10px;
}
.language {

font-size: 20px;

gap:10px;
display: flex;
  align-items: center;
  justify-content: start;
  min-width: 200px;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 200ms ease;
  cursor: pointer;
}
.language:hover{
background:#fafafa ;
}
.language.selected {
font-weight: 700;
background:#fafafa ;

}
.language svg {
opacity: 0;
}
.language.selected svg {
opacity: 1;
}
.language.selected svg {
fill: #2ae8d3;
}
#react-tiny-popover-container{
top : 45px !important;
z-index: 10000;
}




@media  (max-width : 768px){
  .languages-box {

    
    grid-template-columns: repeat(2, 1fr);
   
  }
  
  .top-text  , .bottom-text {
    transform: translateX(-50%) !important;
  }
  .transparent-lang ,.transparent-menu , .transparent-logo {
    display: block;
  }
  .hovered-class :nth-child(1)::before, .hovered-class :nth-child(2)::before {
    left :-0.5px !important;
  }
}

@media screen and (max-width : 500px) {
 
  .languages-box {

    
    grid-template-columns: repeat(1, 1fr) ;
   
  }
  .lang-btn{
    font-size: 31px;
  }
.navigation__button{
    height: 2.8rem;
    width: 2.8rem;
    top : 5.4rem;

  }
  .navigation__icon{
   scale: 0.8;
    margin-top: 1.2rem;
  }
  .navigation__background{
    top : 6rem;

  }

  .menu__icon{
height: 2.7rem;
width : 2.7rem;
  }
  .menu__icon span:before {
    width: 1.6rem;
    left: -1px;

  }
  .menu__icon span:nth-child(1)::before {
    transform: translateY(-6px);
  }
  .menu__icon span:nth-child(2)::before {
    transform: translateY(0px);
  }
  .hovered-class :nth-child(2) {
    transform :rotate(-45deg) translateY(-5px)  translateX(3px) !important;
  }
  .hovered-class :nth-child(1) {
    transform :rotate(39deg) translateY(-3px) translateX(-3.5px) !important;
  }

  .navOpen .transparent-menu {
    right: 1.3rem !important;
  }
  .menu__icon span:before {
    height: 0.215rem;
  }
}





.why-us label {
  line-height: 1.5 !important;
  top: 10px !important;
  
}
.why-us label span {
  display: none;
}
.why-us:focus-within label {
  top: -7px !important; /* Remove the top spacing when in focus */
}
.why-us textarea:valid+label {
  top: -7px !important; /* Remove the top spacing when in focus */
}
@media screen  and (max-width : 600px){
  .why-us textarea {
    padding-top: 25px;
  }
}

.btn-primary {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  background: #2ae8d3;
  border: 1px solid white;

  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
color : #05403a;
  padding: 12px 15px;
  border-radius: 8px;
}

.btn-primary:hover {
color : #453f0a;

  background-color: #f8e43f;
}

